.navbar {
    text-align: center;
}

.fade{
    opacity: 1;
}
.fade.ng-enter{
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all ;
    opacity: 0;
    z-index: 1
}

/* The starting CSS styles for the enter animation */
/*.fade.ng-enter {
  opacity:0;
}*/

/* The finishing CSS styles for the enter animation */
.fade.ng-enter-active {
  opacity:1;
  z-index: 1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  opacity:1;
  z-index: 2;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
  z-index: 2;
}

.PageLoad.ng-enter{

    animation-name: openDoor;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

 /* The animation code */
@keyframes openDoor {
    0%{height:0; animation-timing-function:initial;}
    100% {height:100px; animation-timing-function: initial;}
         
}

.userInfoBox{
    height: 130px;
    width: 300px;
    background-color: navy;
    border-radius: 25px;
    text-align: left;
    margin-left: 20px;
}

#userInfoBoxText{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding-left: 10px;
    float: left;
}

#userInfoBoxInfo{
    padding-top: 5px;
    text-align: left;
    color: white;
}

#userDeleteButton {
    text-align: center;
}

 .buttonCAASS
 {
    right: 300px;
    position: relative;
    margin: 0px 20px 0px 20px;
    width: 230px;
    border-radius: 5px;
    color: rgba(236,243,253,1);
    border: rgba(236,243,253,1);
    box-shadow: 
    0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
    inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(121,112,184,1), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(87,75,128,1); /* Dark Background */
    display: inline-block;
    text-decoration: none;
    background: rgba(0,0,0,0.25);
    animation-name: enterMenuMoveButton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
 }
 
 .buttonCAASS:hover
 {
    margin: 0px 20px 0px 20px;
    width: 230px;
    border-radius: 5px;
    color: rgba(236,243,253,1);
    box-shadow: 
    0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
    inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(212,203,242,1), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(193,184,227,1); /* Dark Background */
 }

 .Menu{
    background: linear-gradient(to bottom, rgba(121,112,184,1) 0%, rgba(0,0,0,1) 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation-name: enterMenu;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    float:left;
    margin-right: 50px;
 }

  @keyframes enterMenu {
    0%{width:0; animation-timing-function:initial;}
    100% {width:300px; animation-timing-function: initial;}  
 }

    @keyframes enterMenuMoveButton {
    0%{left: -300px; animation-timing-function:initial;}
    100% {left:0px; animation-timing-function: initial;}  
 }

    @keyframes enterSubMenu {
    0%{height: 2em; animation-timing-function:initial;}
    100% {height: auto; animation-timing-function: initial;}  
 }
    .subMenu{
        margin: 0px 20px 0px 20px;
        background: white;
        width: 230px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-transition:all linear 0.5s;
        transition: all linear 0.5s;
        height: 200px;
        z-index: 5;

    }

    .subMenu.ng-hide{
        position: absolute;
        top: -100px;
    }
    .subMenu.ng-hide-add-active, .subMenu.ng-hide-remove{
        height: 0px;
        display:none!important;
    }

    .subMenu.ng-hide-add, ng-hide-remove-active{
        height: 200px;
        display:none!important;

    }

    /*.subMenu.ng-hide-add{
        height: 200px;
        display:none!important;

    }

    .subMenu.ng-hide-add.ng-hide-add-active{
        height: 0px;
        display:none!important;
    }*/

    /*.subMenuItems.ng-hide-add, .subMenuItems.ng-hide-add-active{
        opacity: 0;
        padding-left: 30px;
        transition: all ease 250ms;
                display:none!important;
    }

    .subMenuItems.ng-hide-remove-stagger{
        transition-delay:0.3s;
        transition-duration: 0s;
                display:none!important;

    }

    .subMenuItems.ng-hide-remove, .subMenuItems.ng-hide-remove-active{
        opacity: 1;
        padding-left: 0px;
                display:none!important;
    }*/

    .viewHolder{
        float:left;
        z-index: 1;
        background-color: teal;
    }


    /*.subMenu.ng-enter{
        margin: 0px 20px 0px 20px;
        background: white;
        height: 0px;
        width: 230px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition:height 1s;
        -webkit-transition: height 1s;
    }*/

