
<div>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Plot</th>
            <th>&nbsp;</th>
        </tr>
        <tbody>
            <tr ng-repeat="Movie in movies">
                <td>{{Movie.title}}</td>
                <td>{{Movie.year}}</td>
                <td>{{Movie.rating}}</td>
                <td>{{Movie.plot}}</td>
                <td>
                    <button ng-click="selectMovie($index)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-click="removeMovie($index)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>